body{
	margin:0; 
	padding:0; 
	font-size:14px;
	color:#919191;
	background-color:#232323;
	font-family:Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin:0 0 30px 0;
	font-size:1.8em; 
	font-family:"CaviarDreamsBold", Arial, Helvetica, sans-serif;
	font-weight:normal;
}
/*----------------------------------------------Header-------------------------------------*/

#header{
	width: 980px;
	height: 50px;
	padding:40px 0;
	margin-left: auto;
	margin-right: auto;
}

#header hgroup{
	display:block;
	float:left; width:auto; 
	clear:right;
}
#header hgroup h1, #header hgroup h2{
	margin:0; 
	font-weight:normal; 
	text-transform:none;
}
#header hgroup h1{
	font-size:2em;
}
#header hgroup h2{
	font-size:1em;
}

#header #header-contato{
	display:block;
	float:right; 
	width:auto; 
	clear:right;
}
#header #header-contato ul{
	margin-top:15px;
}
#header #header-contato li{
	display:inline;
	margin:0 0 0 15px; 
	padding:0 0 0 15px; 
	border-left:1px solid #C0BAB6;
}
#header #header-contato li:first-child{
	margin:0; 
	padding:0; 
	border:none;
}

/* ----------------------------------------------topo-------------------------------------*/

div#topo{
	display:block;
	width:100%; 
	margin:0;
	padding:0; 
	text-align:left; 
	word-wrap:break-word;
}

#topo, #topo a{
	color:#C0BAB6; 
	background-color:#333333;
}

a{
	color:#FF9900;
	outline:none;
	text-decoration:none;
}

i{
	vertical-align: middle;
}

/* ----------------------------------------------menu-------------------------------------*/
nav ul{
	margin:0;
	padding:0; 
	list-style:none;
	margin:0;
	padding:0;
	list-style:none;
	text-transform:uppercase;
	font-size:12px;
}
#topnav{
	width: 980px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	padding:0;
	color:#C0BAB6;
	background-color:#232323;
}
#topnav li{
	position:relative;
	display:block;
	float:left;
	margin:0 30px 0 0;
	padding:0;
}
#topnav li a{
	display:block;
	padding:20px 0;
}
#topnav a{
	color:#C0BAB6;
	background-color:#232323;
	font-weight:bold;
}
#topnav li.active a, #topnav a:hover{
	color:#FF9900;
}


/*----------------------------------------------Content Area-------------------------------------*/
main{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

}
.sectionMain{
	width: 190px;
	height: 300px;
	float: left;
	border: 1px solid #CCC;
	border-radius: 20px;
	padding: 20px;
	margin-right: 10px;
}
.sectionMain article{
	height: 250px;
}
.sectionMain footer{
	text-align: center;
}


/*-------------------------------------------- botões main-------------------------------------- */

.button{
	display:inline-block;
	border:1px solid;
	font-weight:bold;
	text-transform:uppercase;
}

.button.gradient{
	background:-moz-linear-gradient(top);
	background:-webkit-gradient(linear, left top, left bottom);
	background:-webkit-linear-gradient(top); 
	background:-o-linear-gradient(top); 
	background:-ms-linear-gradient(top); 
	background:linear-gradient(to bottom);
	text-shadow:2px 3px 0 rgba(30, 30, 30, 0.2);
	-moz-transition:color .3s ease-in, -moz-transform .3s ease-in;
	-webkit-transition:color .3s ease-in,
	-webkit-transform .3s ease-in; -o-transition:color .3s ease-in, -o-transform .3s ease-in; transition:color .3s ease-in, transform .3s ease-in;
}

.button.small{
	font-size:.9em;
	padding:6px 15px 5px 15px;
}

.button.blue{
	color:#FFFFFF;
	background-color:#56AED4;
	border-color:#287A9D;
}
.button.blue:hover{
	color:#56AED4; 
	background-color:#1C546C;
	border-color:#56AED4;
}
.button.blue.gradient{
	background:#1C546C;
	background:-moz-linear-gradient(#56AED4 0%, #1C546C 100%);
	background:-webkit-gradient(color-stop(0%,#56AED4), color-stop(100%,#1C546C));
	background:-webkit-linear-gradient(#56AED4 0%,#1C546C 100%);
	background:-o-linear-gradient(#56AED4 0%,#1C546C 100%);
	background:-ms-linear-gradient(#56AED4 0%,#1C546C 100%);
	background:linear-gradient(#56AED4 0%,#1C546C 100%);
}

.button.green{
	color:#FFFFFF; 
	background-color:#C0E079; 
	border-color:#98BA55;
}
.button.green:hover{
	color:#7C9B41;
	background-color:#98BA55; 
	border-color:#7C9B41;
}
.button.green.gradient{
	background:#98BA55;
	background:-moz-linear-gradient(#C0E079 0%, #98BA55 100%);
	background:-webkit-gradient(color-stop(0%, #C0E079), color-stop(100%, #98BA55));
	background:-webkit-linear-gradient(#C0E079 0%, #98BA55 100%);
	background:-o-linear-gradient(#C0E079 0%, #98BA55 100%);
	background:-ms-linear-gradient(#C0E079 0%, #98BA55 100%);
	background:linear-gradient(#C0E079 0%, #98BA55 100%);
}


.button.purple{
	color:#FFFFFF; 
	background-color:#9F81A9;
	border-color:#74557D;
}
.button.purple:hover{
	color:#9F81A9;
	background-color:#48344E;
	border-color:#9F81A9;
}
.button.purple.gradient{
	background:#48344E;
	background:-moz-linear-gradient(#9F81A9 0%, #48344E 100%);
	background:-webkit-gradient(color-stop(0%,#9F81A9), color-stop(100%,#48344E));
	background:-webkit-linear-gradient(#9F81A9 0%,#48344E 100%);
	background:-o-linear-gradient(#9F81A9 0%,#48344E 100%);
	background:-ms-linear-gradient(#9F81A9 0%,#48344E 100%);
	background:linear-gradient(#9F81A9 0%,#48344E 100%);
}

.button.red{
	color:#FFFFFF; 
	background-color:#D54346;
	border-color:#AC2629;
}
.button.red:hover{
	color:#D54346;
	background-color:#7A1B1D;
	border-color:#D54346;
}
.button.red.gradient{
	background:#7A1B1D;
	background:-moz-linear-gradient(#D54346 0%, #7A1B1D 100%);
	background:-webkit-gradient(color-stop(0%,#D54346), color-stop(100%,#7A1B1D));
	background:-webkit-linear-gradient(#D54346 0%,#7A1B1D 100%);
	background:-o-linear-gradient(#D54346 0%,#7A1B1D 100%);
	background:-ms-linear-gradient(#D54346 0%,#7A1B1D 100%);
	background:linear-gradient(#D54346 0%,#7A1B1D 100%);
}

/*-------- parte infeirior --------*/
.button.orange{
	color:#FFFFFF; 
	background-color:#FF9900; 
	border-color:#CC7500;
}
.button.orange:hover
{color:#FF9900;
	background-color:#A66000;
	border-color:#FF9900;
}
.button.orange.gradient{
	background:#A66000;
	background:-moz-linear-gradient(#FF9000 0%, #A66000 100%);
	background:-webkit-gradient(color-stop(0%,#FF9000), color-stop(100%,#A66000));
	background:-webkit-linear-gradient(#FF9000 0%,#A66000 100%);
	background:-o-linear-gradient(#FF9000 0%,#A66000 100%);
	background:-ms-linear-gradient(#FF9000 0%,#A66000 100%);
	background:linear-gradient(#FF9000 0%,#A66000 100%);
}

/*------------------------ cliente ------------------------------------------*/
#cliente{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
h1.tituloMain{
	text-align: center;
}
#sectionMainCliente{
	width: 320px;
	height: 300px;
	float: left;

}
#sectionMainCliente article{
	height: 250px;
}
#sectionMainCliente footer{
	padding-left: 40px;
}
div#linha1{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	height: 380px;
	margin-top: 10px;
}
div#linha2{
	width: 100%;
	height: 400px;
	background-color: #fff;
	border: 1px
}
div#linha2Conteudo{
	width:80%;
	height:350px;
	margin-left:auto;
	margin-right:auto;
}
/*-------------------------------footer------------------------------*/
div#linha3{
	width: 100%;
	height: 500px;
}
div#linha3 #footer{
	width: 980px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;

}
#linha2Conteudo{
	padding-top: 15px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
#linha2 figure img{
	border: 8px solid #ccc;
	border-radius: 10px;
	margin-bottom: 20px;
}
#footer_nav, #footer_comentarios, #form_nav{
	width: 284px;
	margin: 10px;
	height: 400px;
	padding: 10px;
	float: left;
}
#footer_comentarios li{
	margin-top: 15px;
}



#footer{
	padding:30px 0;
}
#footer .footer_title{
	font-size:1.2em;
	margin-bottom:40px;
	padding-bottom:10px;
	border-bottom:1px 
	solid #919191;
}



#footer form label{
	display:block;
	width:100%; 
	margin:0 0 18px 0;
}
#footer form label input{
	width:190px;
	margin-top:5px;
	height: 15px;
}
#footer form label input, #footer form textarea{
	color:#FFFFFF; 
	background-color:#333333;
	border:1px solid #666666;
	border-radius: 5px;
	padding: 10px;

}
#footer form textarea{
	width: 190px;
	height:120px;
	resize:none;
	
}


#footer_nav ul li{
	margin-top:12px;
	padding-top:12px;
	border-top:1px
	solid #333333;
}


#copyright{
	padding:20px 0;
	font-size:.85em;
}
#copyright p{
	margin:0;
	padding:0;
	text-align: center;
}
/*-------------------------------fim footer------------------------------*/

/*--------------------- pagina empresa.html----------------------------*/
#conteudo{
	width: 980px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
#conteudo figure{
	width: 980px;
	height: 500px;
	margin-top: 30px;
}
#conteudo figure img{
	width: 10px;
	float: left;
	margin-right: 30px;
}
#conteudo figure figcaption{
	width: 650px;
	float: left;
}
#conteudo figure figcaption h2{
	margin: 15px;
}
#conteudo figure figcaption p{
	text-align: justify;
	line-height: 25px;
}


/*--------------------- pagina servico.html----------------------------*/
#conteudo figure figcaption li{
	line-height: 40px;
	list-style-image: url("../imagem/marcador.png");
}

/*--------------------- pagina cadastro.html----------------------------*/
#conteudo form{
	width: 790px;
	margin-left: auto;
	margin-right: auto;
}
#conteudo form fieldset{
	width: 350px;
	height: 370px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	margin-left: 20px;
}
#conteudo form fieldset label{
	width: 250px;
	height: 60px;
	float: left;
	clear: left;
	margin-left: 60px;
}
#conteudo form fieldset input{
	width: 220px;
	height: 25px;
	border:1px solid #FFF;
	background-color: #CCC;
	border-radius: 5px;
	padding-left: 5px;
}
#conteudo form fieldset #sexo{
	width: 30px;
	vertical-align: middle;
	
}
#conteudo form #btEnviar, #btLimpar {
	margin-top: 20px;
	margin-left: 10px;
	float: right;

}



/*modificações*/

.filme{
	background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
width: 150px;
height: 150px;
}
